:root {
  --dark: black;
}

body {
  background-color: var(--dark);
  margin: 0;
  font-family: Verdana;
  text-align: center;
}

a:link,
a:visited {
  color: aquamarine;
  font-size: 16px;
  padding: 14px 25px;
  display: block;
}

div {
  text-align: center;
}

img {
  /* Images are always inline and display: block; breaks the text alignment, impedes the image from centering in its container */
}

h1,
h2 {
  color: white;
  font-size: 50px;
  font-weight: normal;
  padding: 14px 25px;
  /* An H1 is already a display: block; */
}

h2 {
  font-size: 42px;
  font-weight: 300;
}

p {
  color: gray;
  font-size: 21px;
}

#copyright {
  text-align: right;
}
